### Importing pandas and checking NaN values

In [163]:
import pandas as pd
data_df = pd.read_csv('titanic.csv')
data_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### 1. How many passengers in this data set?

In [164]:
total_passenger = len(data_df['Name'])
print(f'Number of Total Passengers: {total_passenger}')

Number of Total Passengers: 891

### 2. How many of them male and how many of them Female?

In [165]:
male = data_df[data_df['Sex']=="male"]['Sex'].count()
female = data_df[data_df['Sex']=="female"]['Sex'].count()

print(f'Number of Male Passenge: {male}')
print(f'Number of Male Passenge: {female}')

Number of Male Passenge: 577
Number of Male Passenge: 314

### 3. How many passengers are 50 years or older?

In [166]:
older = data_df[data_df['Age']>=50]['Age'].count()
print(f'Number of passengers are 50 years or older: {older}')

Number of passengers are 50 years or older: 74

### 4. How many of them were under 18 years old?

In [167]:
younger = data_df[data_df['Age']<=18]['Age'].count()
print(f'Number of passengers under 18 years are: {younger}')

Number of passengers under 18 years are: 139

### 5. Where are the most passengers embarked from?

In [168]:
#data_df.columns #to see the columns title
max_embarked=data_df['Embarked'].value_counts()[0]
print(f'Most passengers embarked from Southampton and the number of passengers: {max_embarked}')

Most passengers embarked from Southampton and the number of passengers: 644

### 6. What is the percentage of survived from the men and from the woman?

In [169]:
# male = data_df[data_df['Sex']=="male" and data_df['Survived'] == 1] #ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
male_total = data_df[data_df['Sex']=="male"]
male_survived = male_total[male_total['Survived']==1]['Survived'].count()
male_survived_percentage = male_survived*100/male_total['Sex'].count()

female_total = data_df[data_df['Sex']=="female"]
female_survived = female_total[female_total['Survived']==1]['Survived'].count()
female_survived_percentage = female_survived*100/female_total['Sex'].count()

print(f'Percentage of survived men: {male_survived_percentage} %')
print(f'Percentage of survived woman: {female_survived_percentage} %')

Percentage of survived men: 18.890814558058924 %
Percentage of survived woman: 74.20382165605096 %

### 7. What was total survival rate? {survival rate = people survived/total group population}

In [110]:
# data_df.columns
total_survive = data_df[data_df['Survived']==1]['Survived'].count()
total_population = data_df['Survived'].count()

survival_rate = total_survive/total_population
survival_percent = survival_rate * 100

print(f'Survival Rate: {survival_rate}')
print(f'Survival Percentage: {survival_percent}')

Survival Rate: 0.3838383838383838
Survival Percentage: 38.38383838383838

### 8. Among those who are 18 or younger, what was the survival rate?

In [131]:
total_younger = data_df[data_df['Age']<=18] #['Age'].count()
survive_younger = total_younger[total_younger['Survived'] == 1]['Survived'].count()
younger_survival_rate = survive_younger/total_younger['Age'].count()
print(f'Survival rate of 18 or younger passangers: {younger_survival_rate}')
print(f'Survival Pencentage of 18 or younger passangers: {younger_survival_rate*100}')

Survival rate of 18 or younger passangers: 0.5035971223021583
Survival Pencentage of 18 or younger passangers: 50.35971223021583

### 9. Among those who are 50 or older, what was the survival rate?

In [135]:
total_older = data_df[data_df['Age']>=50] #['Age'].count()
survived_older = total_older[total_older['Survived'] == 1]['Survived'].count()
older_survival_rate = survived_older/total_older['Age'].count()
print(f'Survival rate of 50 or older passangers: {older_survival_rate}')
print(f'Survival Pencentage of 50 or older passangers: {older_survival_rate*100}')

Survival rate of 50 or older passangers: 0.36486486486486486
Survival Pencentage of 50 or older passangers: 36.486486486486484

### 10. Who is the most oldest woman, sadly did not survive?

In [197]:
female_total = data_df[data_df['Sex']=="female"]
not_survived = female_total[female_total['Survived']==0]['Age'].max()
oldest_unluck_woman = female_total[female_total['Age']==not_survived]['Name']

print(f'The name of the most oldest woman, sadly did not survive: {oldest_unluck_woman}') #772    Mack, Mrs. (Mary) #why 772

# oldest_unluck_woman
# not_survived

The name of the most oldest woman, sadly did not survive: 772    Mack, Mrs. (Mary)
Name: Name, dtype: object

In [188]:
oldest_unluck_woman['Name'][1]

KeyError: 'Name'